POSTGRES_DB=fastfix_db
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña
PGADMIN_DEFAULT_EMAIL=tu_email
PGADMIN_DEFAULT_PASSWORD=tu_contraseña
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME